@use 'variables';

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    src: url(/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-display: swap;
    font-family: 'Noto-Sans';
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/NotoSans-VariableFont_wdth,wght.ttf);
}

html {
    background-color: variables.$background;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3 {
   font-family: 'Montserrat'; 
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    color: variables.$accent;
}

main {
    > section {
        padding: 3rem 0;
        p, ol, ul {
            margin: 1rem auto;
        }
        h2, h3 {
            margin-top: 2rem;
        }
    }
}
.standard {
    margin: 3rem auto;
    width: 65%;
}
ol, ul {
    list-style-position: inside;
    li::marker {
        font-weight: bold;
    }
}

* {
    color: variables.$text;
    font-family: Noto-Sans, Calibri, sans-serif;
    margin: 0;
    padding: 0;
    ::selection {
        background-color: variables.$accent;
        color: variables.$text;
    }
}