---
import Layout from "@layouts/Layout.astro";
---
<Layout title="Joshua Coquia's Space">
    <section id="hero" class="twoColumns">
        <section id="heroLeft">
            <h1>Joshua Coquia</h1>
            <p>A lifelong learner mastering Web Development and speedcubing.</p>
            <p>
                <a href="/about">About Me</a>
            </p>
        </section>
        <section id="heroRight">
            <img src="/images/Hero Element Background.PNG" alt="Joshua Coquia solving a Rubik's Cube.">
        </section>
    </section>
    <section class="standard">
        <p>Welcome to my website! In this website, I write about topics I'm passionate about.</p>
    </section>
</Layout>

<style lang="scss">
    @use '@styles/variables';
    #hero {
        h1 {
            font-size: 5rem;
        }
        padding: 6em 5rem;
        #heroRight img {
            background-color: variables.$background;
            width: 100%;
            aspect-ratio: 16/9;
        }
        min-height: 75vh;
    }
</style>