---
import Layout from "@layouts/Layout.astro";
---
<Layout title="Joshua Coquia's Space">
    <section id="hero" class="standard">
        <h1>Joshua Coquia</h1>
        <p>A lifelong learner mastering Web Development.</p>
    </section>
</Layout>

<style lang="scss">
    @use '@styles/variables';
    #hero {
        text-align: center;
    }
</style>