---
import Layout from "@layouts/Layout.astro";
---
<Layout title="Joshua Coquia's Space">
    <main>
        <section>
            <h1>Joshua Coquia</h1>
            <p>A lifelong learner mastering Web Development and Web Design.</p>
        </section>
        <section>
            <h2>About</h2>
            <p>Hi, I am Joshua Coquia. I am a curious, lifelong learner.</p>
        </section>
    </main>
</Layout>