---
import Layout from "@layouts/Layout.astro";
---
<Layout title="Joshua Coquia's Space">
    <main>
        <section>
            <h1>Joshua Coquia</h1>
            <p>A lifelong learner mastering Web Development and Web Design.</p>
        </section>
        <section>
            <h2>About</h2>
            <p>Hi, I am Joshua Coquia. I am a curious, lifelong learner.</p>
            <p>I first learned about coding in my elementary school computer class when I was eight, using problem-solving assignments on Code.org. From there, I explored several projects I could create. The first project I committed to was developing a Discord bot using Node.js. I learned how to program in JavaScript through this project. I then branched out into web development.</p>
            <p>I started my web development journey by learning the fundamentals–HTML, CSS, and JavaScript. I could create basic websites with these fundamental technologies. After the basics, I got into TypeScript, React, SCSS, and module bundlers. I then created my website using Firebase, Astro, TypeScript, and SCSS.</p>
            <section>
                <h3>Skills</h3>
                <p>I enjoy learning skills from the internet and other people I know. Here is a list of the skills I am currently focusing on.</p>
                <ol>
                    <li><b>Speedcubing</b> - I can consistently solve a Rubik’s Cube in 20 seconds. I use the CFOP method. View my profile on the <a href="https://www.worldcubeassociation.org/persons/2023COQU02">World Cube Association</a> website.</li>
                    <li><b>Web Development</b> - I can create websites using HTML, CSS, and JavaScript. I use Firebase, Astro, and SCSS for this website. I am familiar with other web technologies like Tailwind, React, and Express.js.</li>
                    <li><b>Web Design</b> - I can use Figma to design websites. I create wireframes to sketch out website ideas. I then apply my web development knowledge to convert the design into a website.</li>
                </ol>
            </section>
        </section>
        <section>
            <h2>Contact</h2>
            <p>Email: <a href="mailto:joshua.coquia@hotmail.com">joshua.coquia@hotmail.com</a></p>
            <p>Github: <a href="https://github.com/JoshuaCoquia">JoshuaCoquia</a></p>
        </section>
    </main>
</Layout>