---
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <main class="standard">
        <h1>Links</h1>
        <nav>
            <ul>
                <li><a href="https://www.worldcubeassociation.org/persons/2023COQU02">WCA Profile</a></li>
                <li><a href="https://github.com/JoshuaCoquia">GitHub</a></li>
                <li><a href="mailto:joshuacoquia@hotmail.com">Email</a></li>
            </ul>
        </nav>
    </main>
</Layout>