<footer>
    <p>Developed by <strong>Joshua Coquia</strong></p>
</footer>
<style lang="scss">
@use '@styles/variables';
footer {
    background-color: variables.$text;
    color: variables.$background;
    text-align: center;
    * {
        color: variables.$background;
    }
    padding: 1.5rem;
}
</style>