<header>
    <section>
    <p class="title">Joshua Coquia's Space</p>
    </section>
    <section>
        <nav>
            <li>
                <a href="/">Home</a>
                <a href="/About">About</a>
                <a href="/Contact">Contact</a>
            </li>
        </nav>
    </section>
</header>

<style lang="scss">
@use '@styles/variables';
header {
    padding: 1rem 2.5rem;
    background-color: variables.$text;
    color: variables.$background;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    nav {
        float: right;
        * {
            margin: 0 1rem;
        }
    }
    .title {
        font-size: 2rem;
        color: variables.$background;
    }
    a {
        text-decoration: none;
        font-size: 1.5rem;
        color: variables.$background;
        &:hover {
            color: variables.$accent;
        }
    }
}
</style>