<header>
    <section>
    <p class="title">Joshua Coquia's Space</p>
    </section>
    <section>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/articles">Articles</a></li>
            </ul>
        </nav>
    </section>
</header>
<script>
    console.log("Hello, world!");
    const header = document.querySelector("header")!;
    const observer = new IntersectionObserver(([entry]) => {
       header.classList.toggle("shadow", !entry?.isIntersecting); 
       console.log("toggle shadow");
    });
    observer.observe(header);
</script>
<style lang="scss">
@use '@styles/variables';
header {
    align-items: center;
    color: variables.$text;
    display: grid;
    font-family: "Montserrat";
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0 1rem 2.5rem;
    position: sticky;
    top: 0;
    nav {
        ul {
            float: right;
            list-style: none;
            li {
                display: inline;
                float: left;
                text-decoration: none;
            }
        }
        
        * {
            margin: 0 1rem;
        }
    }
    .title {
        font-size: 2rem;
        font-weight: bold;
    }
    a {
        color: variables.$text;
        display: block;
        font-size: 1.5rem;
        padding: 8px;
        border-radius: 16px;
        text-decoration: none;
        &:hover {
            background-color: variables.$accent;
        }
    }
    &.shadow {
        background-color: variables.$background;
        box-shadow: 0 2px 8px variables.$text;
    }
}

</style>