<header>
    <section>
    <p class="title">Joshua Coquia's Space</p>
    </section>
    <section>
        <nav>
            <ul>
                <li><a href="/#">Home</a></li>
                <li><a href="/#about">About</a></li>
                <li><a href="/#contact">Contact</a></li>
            </ul>
        </nav>
    </section>
</header>

<style lang="scss">
@use '@styles/variables';
header {
    padding: 1rem 2.5rem;
    background-color: variables.$text;
    color: variables.$background;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    nav {
        ul {
            float: right;
            list-style: none;
            li {
                float: left;
                display: inline;
                text-decoration: none;
            }
        }
        
        * {
            margin: 0 1rem;
        }
    }
    .title {
        font-size: 2rem;
        color: variables.$background;
    }
    a {
        display: block;
        text-decoration: none;
        font-size: 1.5rem;
        color: variables.$background;
        &:hover {
            color: variables.$accent;
        }
    }
}
</style>